.body {
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    height: 100vh;
    zoom: 0.58;
    border: none;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}
.sun {
    align-items: center;
    justify-content: center;
    position: absolute;
    display: flex;
    height: 100px;
    background-size: 100%;
    width: 100px;
    border-radius: 50%;
    background: url("https://cdn.pixabay.com/photo/2012/01/09/09/10/sun-11582_960_720.jpg");
    background-position: center center;
    box-shadow: 1px 1px 100px 10px #f08112, inset -2px -2px 20px 5px black;
    animation: pole-rotate 30s linear infinite;
}
.sun:hover {
    box-shadow: #e59e1b 2px 2px 100px 20px, inset -2px -2px 20px 5px black;
}
@keyframes pole-rotate {
    0% {
        background-position: center center;
    }
    50% {
        background-position: 50% 40%;
    }
    to {
        transform: rotate(360deg);
        background-position: center center;
    }
}

#circle-orbit-container {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: #020914e5;
    top: 0;
    left: 0;
    display: flex;
    height: 100%;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    width: 100%;
    align-items: center;
    justify-content: center;
}

#Mercury-orbit {
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 125px;
    height: 125px;
    border: 0.1px #837f7e89 solid;
    border-radius: 100%;
    animation: spin-right 5s linear infinite;
}
#Mercury-orbit:hover {
    border: solid 3px #c1bcbb;
    animation-play-state: paused;
}
#Mercury-orbit:hover .Mercury-orbit-cirlces {
    border: solid 2px #c1bcbb;
}
/* ---------- Repeating styles for the Mercury orbiting circles ---------- */
.Mercury-orbit-cirlces {
    position: absolute;
    top: 60px;
    left: -6px;
    height: 10px;
    width: 10px;
    border-radius: 100%;
    background: radial-gradient(at top, #dbdbdb, #454545);
    box-shadow: 0.5px 3px 5px black inset;
    animation: rotate 10s linear infinite;
}

/* ---------- venus orbit - This is the circles second closest to the central point ---------- */
#venus-orbit {
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 170px;
    border: 0.1px #8e461394 solid;
    border-radius: 100%;
    animation: spin-right 8s linear infinite;
}
#venus-orbit:hover {
    border: 3px solid #d28146;
    animation-play-state: paused;
}
#venus-orbit:hover .venus-orbit-cirlces {
    border: 2px solid #d28146;
}

/* ---------- Repeating styles for the venus orbiting circles ---------- */
.venus-orbit-cirlces {
    position: absolute;
    top: 17px;
    left: 15px;
    height: 15px;
    width: 15px;
    border-radius: 100%;
    background: url("https://upload.wikimedia.org/wikipedia/commons/thumb/b/b0/PIA00271_Venus_%28Computer_Simulated_Global_View_of_the_Northern_Hemisphere%29.jpg/600px-PIA00271_Venus_%28Computer_Simulated_Global_View_of_the_Northern_Hemisphere%29.jpg")
        no-repeat;
    background-size: 100% 100%;
    box-shadow: 0.5px 3px 5px black inset;
    animation: rotate 20s linear infinite;
}

/* ---------- earth orbit - This is the circles furthest away from the central point ---------- */
#earth-orbit {
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 230px;
    height: 230px;
    border: 0.1px #0f7dd1a2 solid;
    border-radius: 100%;
    animation: spin-right 10s linear infinite;
}

/* ---------- Repeating styles for the earth orbiting circles ---------- */
.earth-orbit-cirlces {
    position: absolute;
    top: -12px;
    left: 125px;
    height: 25px;
    width: 25px;
    border-radius: 100%;
    background: url(https://media.discordapp.net/attachments/1066457384492482683/1120343822719791174/IMG-20230619-WA0006.jpg);
    background-size: 100%;
    animation: rotate 20s linear infinite;
}
#earth-orbit:hover {
    border: solid 3px #0f7dd1;
    animation-play-state: paused;
}

#earth-orbit:hover .earth-orbit-cirlces {
    border: solid 2px #0f7dd1;
}
/* ---------- mars orbit - This is the circles furthest away from the central point ---------- */
#mars-orbit {
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 310px;
    height: 310px;
    border: 0.1px rgba(246, 110, 86, 0.548) solid;
    border-radius: 100%;
    animation: spin-right 20s linear infinite;
    animation-play-state: running;
}
#mars-orbit:hover {
    border: solid 3px rgb(241, 67, 67);
    animation-play-state: paused;
}
#mars-orbit:hover .mars-orbit-cirlces {
    border: solid 2px rgb(241, 67, 67);
}

/* ---------- Repeating styles for the earth orbiting circles ---------- */
.mars-orbit-cirlces {
    position: absolute;
    top: -13px;
    left: 125px;
    height: 25px;
    width: 25px;
    border-radius: 100%;
    background: url("https://upload.wikimedia.org/wikipedia/commons/thumb/5/58/Mars_23_aug_2003_hubble.jpg/267px-Mars_23_aug_2003_hubble.jpg");
    background-size: 100% 100%;
    animation: rotate 80s linear infinite;
}

/*---------- Jupiter orbit - This is the circles furthest away from the central point ---------- */
#Jupiter-orbit {
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 420px;
    height: 420px;
    border: 0.1px rgba(129, 122, 111, 0.66) solid;
    border-radius: 100%;
    animation: spin-right 110s linear infinite;
}

#Jupiter-orbit:hover {
    border: solid 3px rgb(192, 191, 189);
    animation-play-state: paused;
}
#Jupiter-orbit:hover .Jupiter-orbit-cirlces {
    border: solid 2px rgb(192, 189, 189);
}
/* ---------- Repeating styles for the Jupiter orbiting circles ---------- */
.Jupiter-orbit-cirlces {
    position: absolute;
    top: -20px;
    left: 125px;
    height: 55px;
    width: 55px;
    border-radius: 100%;
    background: url(https://solarsystem.nasa.gov/internal_resources/3794/);
    /*background: url('https://solarsystem.nasa.gov/internal_resources/3794/');
   */
    background-size: 150% 150%;
    background-position: center center;
    animation: rotate 200s linear infinite;
}

/*---------- Saturn orbit - This is the circles furthest away from the central point ---------- */
#Saturn-orbit {
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 550px;
    height: 550px;
    border: 0.1px rgba(233, 243, 124, 0.621) solid;
    border-radius: 100%;
    animation: spin-right 290s linear infinite;
}
#Saturn-orbit:hover {
    border: solid 3px rgb(244, 251, 174);
    animation-play-state: paused;
}
#Saturn-orbit:hover .Saturn-orbit-cirlces {
    border: rgb(244, 251, 174) solid 1px;
}
/* ---------- Repeating styles for the Saturn orbiting circles ---------- */
.Saturn-orbit-cirlces {
    position: absolute;
    top: -5px;
    left: 125px;
    height: 65px;
    width: 65px;
    border-radius: 100%;
    background: url("https://rwspace.ru/wp-content/uploads/2018/12/2-17.jpg");
    background-size: 100% 100%;
    background-position: center center;
    transform: rotate(71deg);
}

/*---------- Uranus orbit - This is the circles furthest away from the central point ---------- */
#Uranus-orbit {
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 680px;
    height: 680px;
    border: 0.1px rgba(185, 239, 247, 0.632) solid;
    border-radius: 100%;
    animation: spin-right 840s linear infinite;
}
#Uranus-orbit:hover {
    border: 3px solid rgb(208, 248, 254);
    animation-play-state: paused;
}
#Uranus-orbit:hover .Uranus-orbit-cirlces {
    border: 2px solid rgb(208, 248, 254);
}

.Uranus-orbit-cirlces {
    position: absolute;
    top: 41px;
    left: 125px;
    height: 38px;
    width: 38px;
    border-radius: 100%;
    background: radial-gradient(circle at top, #a9f5f5, #3c7483);
    animation: rotate 340s linear infinite;
}

#Neptune-orbit {
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 790px;
    height: 790px;
    border: 0.1px rgba(69, 105, 248, 0.656) solid;
    border-radius: 100%;
    -webkit-animation: spin-right 164s linear infinite;
    animation: spin-right 1640s linear infinite;
}
#Neptune-orbit:hover {
    border: #269df8 3px solid;
}
#Neptune-orbit:hover .Neptune-orbit-cirlces {
    border: #269df8 2px solid;
}

/* ---------- Repeating styles for the earth orbiting circles ---------- */
.Neptune-orbit-cirlces {
    position: absolute;
    top: 80px;
    left: 125px;
    height: 25px;
    width: 25px;
    border-radius: 100%;
    background: url("https://upload.wikimedia.org/wikipedia/commons/thumb/5/56/Neptune_Full.jpg/600px-Neptune_Full.jpg");
    background-size: 120% 120%;
    background-position: center center;
    animation: rotate 360s linear infinite;
}

@keyframes move {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes spin-right {
    100% {
        transform: rotate(360deg);
    }
}
@keyframes rotate {
    100% {
        transform: rotateZ(360deg);
    }
}
