@import "../../assets/mixins/mixins.scss";

.search_wrapper {
    @include flColCenterStart();
    gap: 25px;
    margin-top: 50px;
    .search_filter {
        @include flexCenter();
        gap: 15px;
        .search_filter_input {
            @include font(12px, normal, var(--m-font), var(--m-text-yellow));
            padding: 7px 25px;
            cursor: pointer;
            border: none;
            transition-duration: 200ms;
            outline: none;
            text-align: center;
            &:nth-child(1) {
                background: linear-gradient(90deg, var(--m-blue), var(--m-chocolate));
                clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
            }
            &:nth-child(2) {
                background: linear-gradient(270deg, var(--m-blue), var(--m-chocolate));
                clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
            }
        }
    }
    .search_input_btn_wrapper {
        @include flexCenter();
        gap: 20px;
        position: relative;
        .search_input {
            @include font(14px, normal, var(--m-font), var(--m-text-yellow));
            width: 220px;
            padding: 5px 10px;
            background: #04112463;
            border: 1px solid var(--m-chocolate);
            border-radius: 15px;
            outline: none;
        }
        .search_btn {
            @include font(14px, normal, var(--m-font), var(--m-text-yellow));
            padding: 5px 10px;
            background: transparent;
            border-radius: 15px;
            cursor: pointer;
            transition-duration: 200ms;
            &:hover {
                background: var(--m-blue);
            }
        }
    }
    .found_items_wrapper {
        @include flColCenterStart();
        gap: 20px;
        width: 700px;
        min-height: 200px;
        max-height: 700px;
        overflow-y: auto;
        padding: 30px;
        background: var(--m-blue);
        box-shadow: 0 7px 5px 5px var(--m-chocolate);
        transition-duration: 200ms;
        @media screen and (max-width: 710px) {
            width: 600px;
        }
        @media screen and (max-width: 600px) {
            width: 500px;
        }
        @media screen and (max-width: 500px) {
            width: 400px;
        }
        @media screen and (max-width: 400px) {
            width: 325px;
        }
        .found_items_header {
            display: grid;
            grid-template-columns: 1.1fr 1fr 1fr 1fr;
            width: 100%;
            gap: 20px;
            padding: 5px;
            & > p {
                @include flexCenterStart();
                @include font(16px, normal, var(--m-font), var(--m-text-yellow));
                border-right: 1px solid var(--m-chocolate);
                &:last-child {
                    border: none;
                }
                @media screen and (max-width: 500px) {
                    font-size: 14px;
                }
            }
        }
        .found_items {
            @include flColCenterStart();
            width: 100%;
            gap: 15px;
            .found_item {
                width: 100%;
                padding: 5px;
                display: grid;
                grid-template-columns: 1.1fr 1fr 1fr 1fr;
                transition-duration: 300ms;
                gap: 20px;
                cursor: pointer;
                & > p,
                h2 {
                    @include flexCenter();
                    @include font(14px, normal, var(--m-font), var(--m-text-yellow));
                    display: -webkit-box;
                    -webkit-line-clamp: 3;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    @media screen and (max-width: 500px) {
                        font-size: 12px;
                    }
                }
                & > img {
                    width: 80%;
                    height: auto;
                    object-fit: cover;
                }
                & > span {
                    @include size(130px, 70px);
                    @include flexCenterStart();
                    color: orange;
                }
                &:hover {
                    background: black;
                }
            }
        }
    }
    .nothing_found {
        @include font(20px, normal, var(--m-font), var(--m-text-yellow));
    }
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgba(128, 128, 128, 0.469);
}

::-webkit-scrollbar-thumb {
    background: var(--m-chocolate);
    border-radius: 10px;
}
